@media screen and (max-width:274px) {
    .clock{
        max-width: 210px;
        padding: 5px;
    }

    .clock h1
    {
        font-size: 2.1rem;
    }
}

@media screen and (min-width:275px) and (max-width:400px) {
    .clock
    {
        max-width: 260px;
        padding: 5px;
    }

    .clock h1
    {
        font-size: 2.4rem;
    }   
}